body.flip-tile-game-background {
  overflow: hidden; /* Prevent scrolling */
  background-image: url("/webps/games/flip-tile-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flip-tile-pulse {
  animation: flip-tile-pulse 0.5s ease-in-out;
}

@keyframes flip-tile-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
