body.game-background {
  overflow: hidden; /* Prevent scrolling */
  background-image: url("/webps/games/flip-tile-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
