@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: theme("colors.primary-color-light");
  background-size: 100% auto;
  /* Shift up a lil to fix the rendering bug seen on phone with 1px thick line */
  background-position: center calc(100% - 4px);
  background-repeat: repeat-y;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Only have the starry sky on dark mode! */
.dark body {
  background-color: theme("colors.primary-color");
  background-image: url("/webps/sky-starry-bkg.webp");
}

@layer base {
  /* Ensure every element uses the same font */
  * {
    @apply font-sans;
  }

  /* NOTE: NextJS Link element is used for local navigation instead  */
  /* of using a elements. This allows for automatic preloading for example. */
  /* Apply the .link class to all NextJS Link elements. */
  a,
  .link {
    color: theme("colors.link-color-light");
  }

  .dark a,
  .dark .link {
    color: theme("colors.link-color");
  }

  a:active,
  .link:active {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: currentColor;
  }

  /* Only allow hover on hover-supported devices */
  @media (hover: hover) {
    a:hover,
    .link:hover {
      text-decoration: underline;
      cursor: pointer;
      text-decoration-color: currentColor;
    }
  }

  h1 {
    font-size: theme("fontSize.header-1");
    font-weight: bold;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    color: theme("colors.primary-text-color-light");
  }

  .dark h1 {
    color: theme("colors.primary-text-color");
  }

  h2 {
    font-size: theme("fontSize.header-2");
    line-height: 1.3;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    color: theme("colors.primary-text-color-light");
  }

  .dark h2 {
    color: theme("colors.primary-text-color");
  }

  h3 {
    font-size: theme("fontSize.header-3");
    line-height: 1.4;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    color: theme("colors.primary-text-color-light");
  }

  .dark h3 {
    color: theme("colors.primary-text-color");
  }

  p,
  .body-text,
  li {
    font-size: theme("fontSize.body");
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem;
    color: theme("colors.primary-text-color-light");
  }

  .dark p,
  .dark .body-text,
  .dark li {
    color: theme("colors.primary-text-color");
  }

  .label {
    font-size: theme("fontSize.body");
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    color: theme("colors.primary-text-color-light");
  }

  .dark .label {
    color: theme("colors.primary-text-color");
  }

  ul,
  ol {
    @apply pl-6;
    list-style-position: inside;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  .small {
    font-size: theme("fontSize.small");
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 1rem;
    color: theme("colors.primary-text-color-light");
  }

  .dark .small {
    color: theme("colors.primary-text-color");
  }

  hr {
    @apply border-t border-primary-text-color-light dark:border-primary-text-color my-8;
  }

  /* Computer font sizes */
  @media (min-width: 640px) {
    h1 {
      font-size: theme("fontSize.header-1-sm");
    }

    h2 {
      font-size: theme("fontSize.header-2-sm");
    }

    h3 {
      font-size: theme("fontSize.header-3-sm");
    }

    p,
    .body-text,
    li {
      font-size: theme("fontSize.body-sm");
    }

    .label {
      font-size: theme("fontSize.body-sm");
    }
  }
}

@layer components {
  .shanes-games-logo {
    @apply flex items-center space-x-4 transition-transform duration-0 active:scale-105;
  }

  /* Only allow hover on hover-supported devices */
  @media (hover: hover) {
    .shanes-games-logo:hover {
      @apply hover:scale-105;
    }
  }

  .written-content-container {
    @apply my-2 px-common-p px-common-p-sm flex flex-col;
  }

  /* Disables user zoom. This is necessary to prevent for example 
  pinch-zooming on mobile devices which breaks things on games and other
  'app-like' experiences. Similar for preventing overscroll behavior.
  */
  .app-mode {
    touch-action: pan-x pan-y; /* disables double-tap zoom */
    overscroll-behavior: none; /* prevents overscroll, pull-to-refresh */
  }
}

@layer utilities {
  .text-justify {
    text-align: justify;
  }

  .text-outline-light {
    text-shadow: 0 0 2px #c6c6c6, 0 0 4px #c6c6c6, 0 0 6px #c6c6c6;
  }

  .text-outline-dark {
    text-shadow: 0 0 2px #000, 0 0 4px #000, 0 0 6px #000;
  }

  .drop-shadow-black {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 1));
  }
}
