@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/webps/sky-starry-blurred-dark.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

@layer base {
  /* Ensure every element uses the same font */
  * {
    @apply font-sans;
  }

  /* NOTE: NextJS Link element is used for local navigation instead  */
  /* of using a elements. This allows for automatic preloading for example. */
  /* Apply the .link class to all NextJS Link elements. */
  a,
  .link {
    color: theme("colors.link-color");
  }

  a:hover,
  .link:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: currentColor;
  }

  /* i.e. on click */
  a:active,
  .link:active {
    text-decoration: underline;
    cursor: pointer;
  }

  h1 {
    font-size: theme("fontSize.header-1");
    font-weight: bold;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: theme("colors.text-color");
  }

  h2 {
    font-size: theme("fontSize.header-2");
    line-height: 1.3;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    color: theme("colors.text-color");
  }

  h3 {
    font-size: theme("fontSize.header-3");
    line-height: 1.4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: theme("colors.text-color");
  }

  p,
  .body-text,
  li {
    font-size: theme("fontSize.body");
    line-height: 1.6;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: theme("colors.text-color");
  }

  ul,
  ol {
    padding-left: 1.5rem;
    list-style-position: inside;
  }

  .small {
    font-size: theme("fontSize.small");
    line-height: 1.4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: theme("colors.text-color");
  }

  /* Mobile font sizes */
  @media (max-width: 639px) {
    h1 {
      font-size: theme("fontSize.header-1-sm");
    }

    h2 {
      font-size: theme("fontSize.header-2-sm");
    }

    h3 {
      font-size: theme("fontSize.header-3-sm");
    }

    p,
    .body-text,
    li {
      font-size: theme("fontSize.body-sm");
    }
  }
}

@layer components {
  .shanes-games-logo {
    @apply flex items-center space-x-4 transition-transform duration-0 hover:scale-105;
  }

  .header-btn {
    @apply px-3 py-1 sm:px-4 sm:py-2 bg-button-color rounded hover:bg-secondary-color text-small text-text-color;
  }

  .header-btn:hover,
  .header-btn:active {
    text-decoration: none;
  }
}
